html, body {
    margin: 0;
}
body {
    background-color:lavender;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:lavender;
    padding: 10px 20px 0px;
}
.header {
    background-color:azure;
    min-height: 150px;
}
.header img{
    width: 1000px ;
    height: 400px ;
}
.content {
    background-color:azure;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color:lavender;
    min-height: 150px;}

   
    .content table th{
        background-color: black;
        color: whitesmoke;
       }
       .content tr:nth-child(even) /* marca os numeros pares da tabela*/
       table tr:nth-child(even) td { 
        background-color: darkgrey;
    }

    table tr:hover td {
        background-color: dimgrey;
        cursor: pointer;
    }

    h1{
        text-align: center;
    }
    .content p{
        text-align: center;
        
    }